.login
  .header3
    .header3__logo3
      <img src="/assets/logo.png" widt="100" height="50">
    -# .header3__progress-bar3
    -#   会員情報

  .main
    .done
      会員登録完了
    .mozi
      ありがとうございます。     会員登録が完了しました。
    .login2
      = link_to "トップへ戻る", root_path
    .az
      <img src="/assets/bg-appBanner-pict.jpg" widt="400" height="298">

  .footer3
    .title
      .title__as
        プライバシーポリシー
      .title__bs
        メルカリ利用規約
      .title__cs
        特定商取引に関する表記
    .item
      <img src="/assets/logo-white.png" widt="50" height="45">
    .logo
      © FURIMA, Inc.
      