.login
  .header51
    = image_tag asset_path("logo.png"), size: "200x50", alt: "test"

  .main
    .done
      会員登録完了
    .mozi
      ありがとうございます。     会員登録が完了しました。
    .login2
      = link_to "トップへ戻る", root_path
    .az
      = image_tag 'bg-appBanner-pict.jpg'
      -# <img src="/assets/bg-appBanner-pict.jpg" widt="400" height="298">

  .footer51
    .title
      .title__one
        プライバシーポリシー
      .title__tow
        メルカリ利用規約
      .title__three
        特定商取引に関する表記
    .item51
      = image_tag asset_path("logo-white.png"), size: "200x60", alt: "test"
    .logo51
      © FURIMA, Inc.