-# このページは追加実装予定です。
-# %body
-#   .wrapper
-#     .l-container.clearfix
-#       = render 'users/side'
-#       .mypage-content
-#         %section.mypage-content__chapter-container
-#           %h2.signup-main__chapter-head
-#             支払い方法
-#           .mypage__notification.mypage__notification--success
-#           .signup-main__inner
-#             %section.setting-add__card
-#               .signup-main__content
-#                 %h3.signup-main__chapter-sub-head
-#                   クレジットカード一覧
-#               %ul.mypage-content__payment-list
-#                 %li
-#                   .signup-main__content
-#               .signup-main__content
-#                 = link_to "#", class: 'signup-main__btn-default signup-main__btn-red signup-main__submit_button' do
-#                   = icon 'far', 'credit-card'
-#                   クレジットカードを追加する
-#             .mypage-content__not-regist
-#               = link_to '#', target: '_blank' do
-#                 %span 支払い方法について
-#                 = icon 'fas', 'chevron-right'
                