.kategori{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  height: 55px;
  &__kategori2{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    &__1{
      padding: 0 10px 0 0;
      float: left;
    }
    &__ku{
      padding: 0 10px 0 0;
      float: left;
    }
    &__2{
      padding: 0 10px 0 0;
      float: left;
    }
    &__3{
      padding: 0 10px 0 0;
      float: left;
    }
    &__4{
      padding: 0 10px 0 0;
      float: left;
      font-weight: bold;
    }
  }
}



.item{
  background-color: #f8f8f8;
  padding: 40px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;

  &__box{
      background-color: #fff;
      padding: 40px;
      margin: 0 auto;
      height: 1300px;
      width: 700px;
      display: block;
    &__name{
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
      border-style: solid;
      border-width: 0;
      box-sizing: inherit;
      font-weight: bold;
    }
    &__main{
      object-fit: cover;
      width: 100%;
      &__image{
        // width: 560px;
        // height: 400px;
        // margin-left: 37px;
        // margin-top: 10px;
        // background-color: #f3f3f3;
        text-align: center;
        img{
          width: 560px;
          height: 346px;
        }
      }
      &__sub{
        // マークアップのためコメントアウト
        // text-align: center;
        // background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        &__test1{
          background-color: #f3f3f3;
          img{
            width: 140px;
            height: 87px;
          }
        }
        &__test2{
          background-color: #f3f3f3;
          img{
            width: 140px;
            height: 87px;
          }
        }
        &__test3{
          background-color: #f3f3f3;
          img{
            width: 140px;
            height: 87px;
          }
        }
      }
    }
    &__price{
      text-align: center;
      padding-bottom: 10px;
    
      &__include{
        color: rgb(51, 51, 51);
        margin: 0 16px 0 0;
        font-size: 50px;
        font-weight: 600;
        border-style: solid;
        border-width: 0;
        text-align: center;
        display: inline-block;
      }
      &__fee{
        &__tax{
          font-size: 16px;
          background-repeat: no-repeat;
          display: inline-block;
        }
        &__postage{
          display: inline-block;
          font-size: 16px;
          background-repeat: no-repeat;
        }
      }
    }
    &__method{
      padding-top: 20px;
      &__introduction{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px;
      }
    }
    &__information{
      height: 375px;
      margin-bottom: 30px;
      &__table{
        margin: 21px 0px;
        th{
          width: 5%;
          background-color: #eee;
          padding: 8px 10px 10px 8px;
          border: 1px solid #dedede;
          font-size: 14px;
          text-align: center;
        }
        td{
          width: 17%;
          padding: 15px 15px;
          border: 1px solid #dedede;
          font-size: 14px;
        }
      }
    }
    &__okiniiri{
      height: 40px;
      width: 140px;
      margin: 25px 10px 0;
      padding-top: 8px;
      display: inline-block;
      font-size: inherit;
      border-radius: 40px;
      color: #3CCACE;
      border: 1px solid #ffb340;
      text-align: center;
    }
    &__spam{
      height: 33px;
      width: 155px;
      margin: 25px 10px 0;
      padding-top: 4px;
      display: inline-block;
      float: right;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #333;
      text-align: center;
      color: black;
      text-decoration: none;
    }
  }

  &__comment__box {
    padding: 20px;
    background-color: #fff;
    margin: 10px auto;
    text-align: center;
    width: 700px;
    &__body {
      width: 100%;
      height: 100px;
      input{
        width: 100%;
        height: 100%;
      }
    }
    &__rule {
      background-color: #f8f8f8;
      padding: 8px;
      font-size: 14px;
      margin: 10px 0;
      text-align: left;
    }
    &__submit {
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin: 20px auto 5px;
    }
  }
  &__link{
    display: flex;
    background-color: #f8f8f8;
    color: #3CCACE;
    justify-content: space-between;
    width:700px;
    margin: 0 auto;
  }
  &__more{
    padding: 24px 0 30px;
    background-color: #f8f8f8;
    color: #3CCACE;
    font-weight: bold;
    font-size: 22px;
    width:700px;
    margin: 0 auto;
  }
  &__affix{
    padding: 20px;
    background-color: #fff;
    margin: 10px auto;
    text-align: center;
    width: 700px;
    &__edit{
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin: 20px auto 5px;
    }
    &__stop{
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin: 20px auto 5px;
    }
    &__delete{
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin: 20px auto 5px;  
    }
  }
  &__affix2{
    padding: 20px;
    background-color: #fff;
    margin: 10px auto;
    text-align: center;
    width: 700px;
    &__buy{
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin: 20px auto 5px;
    }
  }
}
​
a{
  text-decoration: none;
}

.banner{
  background-image: url(/assets/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner{
    color: #fff;
    text-align: center;
    &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
    }
  }
}

.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__lg{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  &__lg{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img{
      width: 100%;
      vertical-align: bottom;
    }
  }
}
.nakamis{
  max-width: 840px;
  margin: 0 auto;
  display: flex;
}
.nakami{
  display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  margin: 0 2% 0 0;
  &__head{
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: bold;
  }
  a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
  }
}
.buybtn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon{
    width: 60%;
  }
}