.login{
  height: 100%;
  width: 100vw;
  background-color: #f5f5f5;
  .header3{
    height: 128px;
    width: 500px;
    margin-left: 500px;
    justify-content: center;
    display: flex;
    &__logo3{
      margin-top: 40px;
    }
    &__progress-bar3{
      font-size: 8px;
      margin-top: 45px;
      margin-left: 100px;
    }
  }

  .main{
    height: 500px;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    .done{
      font-size: 25px;
      margin-left: 270px;
      padding-top: 20px;
    }
    .mozi{
      width: 180px;
      font-size: 15px;
      margin-left: 250px;
      padding-top: 30px;
    }
    .login2{
      margin-top: 25px;
      font-size: 16px;
      padding-left: 80px;
      margin-left: 200px;
      padding-top: 8px;
    }
    .az{
      margin-top: 30px;
    }
  }

  .footer3{
    height: 200px;
    width: 100vw;
    margin-top: 35px;
    .title{
      height: 20px;
      justify-content: center;
      display: flex;
      font-size: 15px;
      margin-bottom: 25px;
      &__bs{
        padding-left: 15px;
      }
      &__cs{
        padding-left: 15px;
      }
    }
    .item{
      width: 200px;
      margin: 0 auto;
    }
    .logo{
      font-size: 10px;
      margin-top: 5px;
      padding-left: 680px;
    }
  }
}