.exhibition{
  height: 100%;
  width: 100vw;
  background-color: #f5f5f5;
  .header51{
    width: 200px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
  }

  .main{
    height: 100%;
    width: 700px;
    margin: 0 auto;
    background-color: white;

    .sell__block__form{
      &__upload{
        &__head{
          font-size: 14px;
          font-weight: 600;
          margin-left: 48px;
          padding-top: 20px;
          .require{
            height: 17px;
            width: 30px;
            font-size: 13px;
            color: white;
            background-color: #ff0211;
            margin-left: 10px;
            padding: 2px;
          }
        }
        .kai{
          font-size: 14px;
          margin-top: 10px;
          font-weight: 500;
        }
        
        .post__drop__box__container{
          display: block;
          margin: 16px auto 0;
          display: flex;
          flex-wrap: wrap;
          .prev-content{
            display: flex;
          }
        }
      }
    }

    .border{
      border: 1px solid;
      border-color: #f5f5f5;
    }
  
    .details{
      padding: 40px;
      &__title2{
        display: flex;
        &__mozi2{
          font-size: 14px;
          font-weight: 600;
        }
        &__hissu2{
          height: 17px;
          width: 30px;
          font-size: 13px;
          font-weight: 600;
          color: white;
          background-color: #ff0211;
          margin-left: 10px;
          padding-left: 2px;
          margin-bottom: 14px;
        }
      }
      &__description{
        margin-top: 18px;
        display: flex;
        &__mozi3{
          font-size: 14px;
          font-weight: 600;
        }
        &__hissu3{
          height: 17px;
          width: 30px;
          font-size: 13px;
          font-weight: 600;
          color: white;
          background-color: #ff0211;
          margin-left: 10px;
          padding-left: 2px;
          margin-bottom: 14px;
        }
      }
    }
    
    .product-details{
      padding: 40px;
      &__mozi4{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 35px;
        color: #888888;
      }
      &__categories{
        display: flex;
        &__mozi5{
          font-size: 14px;
          font-weight: 600;
        }
        &__hissu4{
          height: 17px;
          width: 30px;
          font-size: 13px;
          font-weight: 600;
          color: white;
          background-color: #ff0211;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      &__categories-input{
        &--select {
          height: 35px;
          width: 100%;
          margin-bottom: 5px;
        }
      }
      .lproduct-details__categories-input--select {
        width: 100%;
        height: 35px;
      }
      &__brand{
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        &__mozi6{
          font-size: 14px;
          font-weight: 600;
        }
        &__nini{
          height: 17px;
          width: 30px;
          font-size: 12px;
          font-weight: 600;
          color: white;
          background-color: #bfbfbf;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      &__status{
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        &__mozi7{
          font-size: 14px;
          font-weight: 600;
        }
        &__hissu5{
          height: 17px;
          width: 30px;
          font-size: 13px;
          font-weight: 600;
          color: white;
          background-color: #ff0211;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      .product-details__status-input-1 {
        width: 100%;
        height: 35px;
      }
    }

    .shipping{
      margin-left: 40px;
      margin-top: 20px;
      &__mozi8{
        font-size: 14px;
        font-weight: 600;
        color: #888888;
        margin-bottom: 35px;

      }
      &__burden{
        display: flex;
        margin-bottom: 10px;
        &__mozi9{
          font-size: 14px;
          font-weight: 600;
        }
        &__hissu6{
          height: 17px;
          width: 30px;
          font-size: 13px;
          font-weight: 600;
          color: white;
          background-color: #ff0211;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      .shipping__burden-input-1{
        width:94%;
        height: 35px;
      }
      &__area{
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        &__mozi10{
          font-size: 14px;
          font-weight: 600;
        }
        &__hissu7{
          height: 17px;
          width: 30px;
          font-size: 13px;
          font-weight: 600;
          color: white;
          background-color: #ff0211;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      .shipping__area-input-1 {
        width:94%;
        height: 35px;
      }
      &__days{
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        &__mozi11{
          font-size: 14px;
          font-weight: 600;
        }
        &__hissu8{
          height: 17px;
          width: 30px;
          font-size: 13px;
          font-weight: 600;
          color: white;
          background-color: #ff0211;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      &__days-input{
        margin-bottom: 20px;
      }
      .shipping__days-input-1 {
        width:94%;
        height: 35px;
      }
    }

    .price{
      padding: 40px;
      &__mozi12{
        font-size: 14px;
        font-weight: 600;
        color: #888888;
      }
      &__selling-price{
        margin: 40px 0;
        display: flex;
        &__mozi13{
          font-size: 14px;
          font-weight: 600;
          margin-top: 20px;
        }
        &__hissu9{
          height: 17px;
          width: 30px;
          font-size: 13px;
          font-weight: 600;
          color: white;
          background-color: #ff0211;
          margin-left: 10px;
          padding-left: 2px;
          margin-top: 20px;
        }
        &__circle{
          font-size: 14px;
          margin-left: 280px;
          margin-top: 20px;
        }
        &__price-input{
          margin-top: 14px;
          margin-left: 5px;
        }
      }
      &__commission{
        display: flex;
        &__mozi14{
          font-size: 14px;
        }
        &__display{
          margin-left: 450px;
        }
      }
      &__border{
        width: 630px;
        border: 1px solid;
        border-color: #f5f5f5;
        margin: 30px auto;
      }
      &__profit{
        display: flex;
        margin: 40px 0;
        &__mozi15{
          font-size: 14px;
        }
        &__display2{
          margin-left: 522px;
        }
      }
      &__red-mozi{
        width: 340px;
        height: 50px;
        font-size: 20px;
        margin: 0 auto;
        input#submit_button5{
          width: 350px;
          height: 50px;
          font-size: 20px;
          color: #f5f5f5;
          background-color: red;
        }
      }
      &__return{
        font-size: 20px;
        margin-top: 15px;
        margin-left: 180px;
        padding-left: 87px;
      }
      &__notes{
        font-size: 12px;
        margin-top: 25px;
      }
    }
  }

  .footer51{
    height: 200px;
    width: 550px;
    margin: 0 auto;
    padding-top: 25px;
    .title{
      height: 20px;
      display: flex;
      font-size: 15px;
      margin-bottom: 25px;
      &__one{
        padding-left: 15px;
      }
      &__tow{
        padding-left: 15px;
      }
      &__three{
        padding-left: 15px;
      }
    }
    .item51{
      width: 200px;
      margin: 0 auto;
    }
    .logo51{
      width: 80px;
      font-size: 10px;
      margin: 0 auto;
    }
  }
}
