.login4{
  height: 100%;
  width: 100vw;
  background-color: #f5f5f5;
  .header4{
    height: 128px;
    width: 500px;
    margin-left: 450px;
    justify-content: center;
    display: flex;
    &__logo4{
      margin-top: 40px;
    }
    // &__progress-bar4{
    //   font-size: 8px;
    //   margin-top: 45px;
    //   margin-left: 100px;
    // }
  }

  .main{
    height: 500px;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    // .mozi{
    //   font-size: 13px;
    //   padding-left: 250px;
    //   padding-top: 20px;
    // }
    // .sign-up{
    //   height: 40px;
    //   width: 280px;
    //   font-size: 18px;
    //   padding-left: 150px;
    //   padding-top: 10px;
    //   margin-left: 150px;
    // }
    .address{
      font-size: 15px;
      font-weight: 600;
      padding-top: 40px;
      margin-left: 250px;
      &__a1{
        color: #cccccc;
        font-size: 15px;
      }
    }
    .password{
      font-size: 15px;
      font-weight: 600;
      margin-top: 30px;
      margin-left: 250px;
      &__a2{
        color: #cccccc;
        font-size: 15px;
      }
    }
    .path{
      display: flex;
      margin-left: 250px;
      margin-top: 30px;
      // &__a3{
      // }
      &__a4{
        padding-left: 10px;
      }
    }
    .login5{
      margin-top: 30px;
      font-size: 15px;
      padding-left: 100px;
      margin-left: 250px;
      // padding-top: 20px;
    }
    .notes{
      font-size: 15px;
      padding-left: 250px;
      padding-top: 30px;
    }
  }

  .footer4{
    height: 200px;
    width: 100vw;
    margin-top: 25px;
    .title{
      justify-content: center;
      display: flex;
      font-size: 15px;
      margin-top: 25px;
      &__a{
        padding-left: 15px;
      }
      &__b{
        padding-left: 15px;
      }
      &__c{
        padding-left: 15px;
      }
    }
    .item{
      margin-top: 25px;
      padding-left: 630px;
    }
    .logo{
      font-size: 10px;
      margin-top: 5px;
      padding-left: 680px;
    }
  }
}