.login4{
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  .header51{
    width: 200px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
  }

  .main{
    height: 500px;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    .address51{
      font-size: 15px;
      padding-top: 40px;
      margin-left: 250px;
      &__a51{
        color: #cccccc;
        font-size: 15px;
      }
    }
    .password{
      font-size: 15px;
      margin-top: 30px;
      margin-left: 250px;
      &__a2{
        color: #cccccc;
        font-size: 15px;
      }
    }
    .path{
      display: flex;
      margin-left: 250px;
      margin-top: 30px;
      &__a4{
        padding-left: 10px;
      }
    }
    .login5{
      width: 300px;
      padding-top: 30px;
      margin: 0 auto;
      input#submit_button{
        width: 300px;
        height: 50px;
        font-size: 20px;
        color: #f5f5f5;
        background-color: red;
      }
    }
    .notes{
      font-size: 15px;
      padding-left: 250px;
      padding-top: 30px;
    }
  }

  .footer51{
    height: 200px;
    width: 550px;
    margin: 0 auto;
    padding-top: 25px;
    .title{
      height: 20px;
      display: flex;
      font-size: 15px;
      margin-bottom: 25px;
      &__one{
        padding-left: 15px;
      }
      &__tow{
        padding-left: 15px;
      }
      &__three{
        padding-left: 15px;
      }
    }
    .item51{
      width: 200px;
      margin: 0 auto;
    }
    .logo51{
      width: 80px;
      font-size: 10px;
      margin: 0 auto;
    }
  }
}
