.user-register{
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  .header51{
    width: 200px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
  }
  .main{
    height: 100%;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    .title{
      height: 90px;
      width: 250px;
      font-size: 22px;
      padding: 30px;
      margin: 0px auto;
      &__font{
        font-weight: 600;
        margin-left: 30px;
        margin-top: 20px;
        justify-content: center;
      }
    }
    .name-information{
      &__item{
        display: flex;
        padding: 5px;
        margin-left: 200px;
        &__nicname{
          font-size: 15px;
          font-weight: 600;
        }
        &__required{
          height: 20px;
          width: 35px;
          font-size: 15px;
          color: white;
          background-color: #ea352d;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      &__name{
        color: #cccccc;
        font-size: 15px;
        padding-left: 200px;
      }
    }

    .email{
      margin-top: 25px;
      &__information{
        display: flex;
        &__address{
          font-size: 15px;
          font-weight: 600;
        }
        &__required{
          height: 20px;
          width: 35px;
          font-size: 15px;
          color: white;
          background-color: #ea352d;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      &__information{
        font-size: 15px;
        padding-left: 200px;
      }
    }

    .password{
      padding-left: 200px;
      margin-top: 25px;
      &__item{
        display: flex;
        &__pass{
          font-weight: 600;
          font-size: 16px;
        }
        &__required{
          height: 20px;
          width: 35px;
          font-size: 15px;
          color: white;
          background-color: #ea352d;
          margin-left: 10px;
          padding-left: 2px;
        }
        &__note{
          font-weight: 600;
        }
      }
      &__input{
        color: #cccccc;
      }
      &__description{
        height: 50px;
        width: 300px;
        font-size: 15px;
        color: #cccccc;
      }
    }

    .re-enter{
      padding-left: 200px;
      &__item{
        display: flex;
        &__pass{
          font-weight: 600;
          font-size: 16px;
        }
        &__repuired{
          height: 20px;
          width: 35px;
          font-size: 15px;
          color: white;
          background-color: #ea352d;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      &__itempass{
        height: 50px;
        width: 300px;
        font-size: 15px;
        color: #cccccc;
      }
    }

    .Identification{
      padding-left: 200px;
      margin-top: 10px;
      &__mozi{
        font-weight: 600;
        font-size: 16px;
      }
      &__description{
        width: 323px;
        font-size: 15px;
      }
    }

    .Identification-name{
      padding-left: 200px;
      margin-top: 25px;
      display: flex;
      &__box{
        &__mozi{
          display: flex;
          &__oo{
          font-weight: 600;
          font-size: 16px;
          }
          &__tt{
            height: 20px;
            width: 35px;
            font-size: 15px;
            color: white;
            background-color: #ea352d;
            margin-left: 5px;
            padding-left: 2px;
          }
        }
        &__nameinput{
          font-size: 15px;
        }
      }
      &__boxs{
        margin-left: 10px;
        &__a1{
          display: flex;
          &__nn{
          font-weight: 600;
          font-size: 16px;
          }
          &__mm{
            height: 20px;
            width: 35px;
            font-size: 15px;
            color: white;
            background-color: #ea352d;
            margin-left: 5px;
            padding-left: 2px;
          }
        }
        &__a2{
          font-size: 15px;
        }
      }
    }

    .Identification-name-kana{
      padding-left: 200px;
      margin-top: 25px;
      display: flex;
      &__box{
        &__mozi{
          display: flex;
          &__kiss{
          font-weight: 600;
          font-size: 16px;
          }
          &__pen{
            height: 20px;
            width: 35px;
            font-size: 15px;
            color: white;
            background-color: #ea352d;
            padding-left: 2px;
          }
        }
        &__hissu{
          font-size: 15px;
        }
      }
      &__boxs{
        margin-left: 5px;
        &__b1{
          display: flex;
          &__pc{
          font-weight: 600;
          font-size: 16px;
          }
          &__ice{
            height: 20px;
            width: 35px;
            font-size: 15px;
            color: white;
            background-color: #ea352d;
            padding-left: 2px;
          }
        }
        &__b2{
          font-size: 15px;
        }
      }
    }

    .Birthday{
      padding-left: 200px;
      margin-top: 25px;
      &__box1{
        display: flex;
        &__mozi{
          font-size: 16px;
          font-weight: 600;
        }
        &__hissu{
          height: 20px;
          width: 35px;
          font-size: 15px;
          color: white;
          background-color: #ea352d;
          margin-left: 10px;
          padding-left: 2px;
        }
      }
      &__box2{
        margin-top: 10px;
        select#year{
          width: 20%;
          height: 30px;
        }
        select#month{
          width: 10%;
          height: 30px;
        }
        select#date{
          width: 10%;
          height: 30px;
        }
      }
      &__box3{
        width: 325px;
        font-size: 13px;
        color: #cccccc;
        margin-top: 10px;
      }
    }

    .terms-of-service{
      width: 300px;
      padding-top: 35px;
      padding-bottom: 30px;
      margin: 0 auto;
      &__mozi{
        width: 350px;
        font-size: 13px;
      }
      &__btm{
        padding-top: 15px;
        input#submit_button1{
          width: 300px;
          height: 50px;
          font-size: 20px;
          color: #f5f5f5;
          background-color: red;
        }
      }
      &__register{
        padding-left: 150px;
        font-size: 13px;
        color: #0099e8;
        margin-top: 20px;
      }
      &__english{
        width: 290px;
        background-color: #f5f5f5;
        font-size: 8px;
        margin-top: 20px;
        padding: 10px;
      }
    }
  }
  .footer51{
    height: 200px;
    width: 550px;
    margin: 0 auto;
    padding-top: 25px;
    .title{
      height: 20px;
      display: flex;
      font-size: 15px;
      margin-bottom: 25px;
      &__one{
        padding-left: 15px;
      }
      &__tow{
        padding-left: 15px;
      }
      &__three{
        padding-left: 15px;
      }
    }
    .item51{
      width: 200px;
      margin: 0 auto;
    }
    .logo51{
      width: 80px;
      font-size: 10px;
      margin: 0 auto;
    }
  }
}
