.top{
  height: 100%;
  width: 100vw;
  background-color: #f5f5f5;
  .header51{
    width: 200px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
  }

  .main{
    height: 100%;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
    background-color: white;

    .identity-information{
      height: 80px;
      font-size: 20px;
      padding: 30px;
      margin-left: 250px;
    }

    .writing{
      height: 100px;
      &__mozi{
        font-size: 13px;
        padding-left: 50px;
      }
      &__mozi2{
        font-size: 13px;
        color: #0099FF;
        padding-left: 400px;
      }
    }

    .q{
      &__a{
        display: flex;
        margin-left: 210px;
        &__a1{
          margin-top: 30px;
          font-size: 15px;
        }
        &__a2{
          margin-top: 30px;
          font-size: 15px;
        }
      }
      &__b{
        display: flex;
        margin-left: 210px;
        &__b1{
          margin-top: 20px;
          font-size: 15px;
        }
        &__b2{
          margin-top: 20px;
          font-size: 15px;
        }
      }
    }

    .opi{
      .postal-code{
        margin-top: 30px;
        &__a{
          display: flex;
          padding-left: 210px;
          &__a1{
            width: 70px;
            font-size: 15px;
            font-weight: 600;
          }
          &__a2{
            height: 20px;
            width: 30px;
            font-size: 15px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__b{
          font-size: 15px;
          padding-left: 210px;
        }
      }

      .prefectures{
        margin-top: 25px;
        &__c{
          display: flex;
          padding-left: 210px;
          &__c1{
            width: 70px;
            font-size: 15px;
            font-weight: 600;
          }
          &__c2{
            height: 20px;
            width: 30px;
            font-size: 15px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__d{
          font-size: 15px;
          padding-left: 210px;
          .shipping__area-input-1 {
            width:62%;
            height: 30px;
          }
        }
      }

      .municipality{
        margin-top: 25px;
        &__e{
          display: flex;
          padding-left: 210px;
          &__e1{
            width: 70px;
            font-size: 15px;
            font-weight: 600;
          }
          &__e2{
            height: 20px;
            width: 30px;
            font-size: 15px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__f{
          font-size: 15px;
          padding-left: 210px;
        }
      }

      .address{
        margin-top: 25px;
        &__g{
          display: flex;
          padding-left: 210px;
          &__g1{
            width: 70px;
            font-size: 15px;
            font-weight: 600;
          }
          &__g2{
            height: 20px;
            width: 30px;
            font-size: 15px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__h{
          font-size: 15px;
          padding-left: 210px;
        }
      }

      .building{
        margin-top: 25px;
        &__i{
          display: flex;
          padding-left: 210px;
          &__i1{
            width: 70px;
            font-size: 15px;
            font-weight: 600;
          }
          &__i2{
            height: 20px;
            width: 30px;
            font-size: 15px;
            color: black;
            background-color: #f5f5f5;
          }
        }
        &__j{
          font-size: 15px;
          padding-left: 210px;
        }
      }

      .phone{
        margin-top: 25px;
        &__number1{
          display: flex;
          padding-left: 210px;
          &__kk{
            width: 70px;
            font-size: 15px;
            font-weight: 600;
          }
          &__yy{
            height: 20px;
            width: 30px;
            font-size: 15px;
            color: black;
            background-color: #f5f5f5;
          }
        }
        &__number2{
          font-size: 15px;
          padding-left: 210px;
        }
      }

      .register{
        margin-top: 25px;
        margin-left: 210px;
        input#submit_button2{
          width: 300px;
          height: 50px;
          font-size: 20px;
          color: #f5f5f5;
          background-color: red;
        }
      }

      .personal-information-registration{
        font-size: 15px;
        color: #0099FF;
        padding-left: 360px;
        margin-top: 25px;
      }
    }
  }
  .footer51{
    height: 200px;
    width: 550px;
    margin: 0 auto;
    padding-top: 25px;
    .title{
      height: 20px;
      display: flex;
      font-size: 15px;
      margin-bottom: 25px;
      &__one{
        padding-left: 15px;
      }
      &__tow{
        padding-left: 15px;
      }
      &__three{
        padding-left: 15px;
      }
    }
    .item51{
      width: 200px;
      margin: 0 auto;
    }
    .logo51{
      width: 80px;
      font-size: 10px;
      margin: 0 auto;
    }
  }
}
