.top{
  height: 100%;
  width: 100vw;
  background-color: #f5f5f5;
  .header2{
    height: 128px;
    width: 500px;
    margin-left: 500px;
    justify-content: center;
    display: flex;
    &__logo2{
      margin-top: 40px;
    }
    &__progress-bar2{
      font-size: 8px;
      margin-top: 45px;
      margin-left: 100px;
    }
  }

  .main{
    height: 900px;
    width: 700px;
    margin: 0 auto;
    background-color: white;

    .identity-information{
      height: 80px;
      font-size: 20px;
      padding: 30px;
      margin-left: 250px;
    }

    .writing{
      height: 100px;
      &__mozi{
        font-size: 13px;
        padding-left: 50px;
      }
      &__mozi2{
        font-size: 13px;
        color: #0099FF;
        padding-left: 400px;
      }
    }

    .q{
      &__a{
        display: flex;
        margin-left: 200px;
        &__a1{
          margin-top: 30px;
          &__aa1{
            font-size: 17px;
          }
          &__aa2{
            font-size: 15px;
          }
        }
        &__a2{
          margin-top: 30px;
          &__aaa1{
            font-size: 17px;
          }
          &__aaa2{
            font-size: 15px;
          }
        }
      }
      &__b{
        display: flex;
        margin-left: 200px;
        &__b1{
          margin-top: 20px;
          &__bb1{
            font-size: 17px;
          }
          &__bb2{
            font-size: 15px;
          }
        }
        &__b2{
          margin-top: 20px;
          &__bbb1{
            font-size: 17px;
          }
          &__bbb2{
            font-size: 15px;
          }
        }
      }
    }

    .opi{
      .postal-code{
        margin-top: 30px;
        &__a{
          display: flex;
          padding-left: 200px;
          &__a1{
            width: 70px;
            font-size: 16px;
          }
          &__a2{
            height: 20px;
            width: 30px;
            font-size: 14px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__b{
          font-size: 16px;
          padding-left: 200px;
        }
      }

      .prefectures{
        margin-top: 25px;
        &__c{
          display: flex;
          padding-left: 200px;
          &__c1{
            width: 70px;
            font-size: 16px;
          }
          &__c2{
            height: 20px;
            width: 30px;
            font-size: 14px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__d{
          font-size: 25px;
          padding-left: 200px;
        }
      }

      .municipality{
        margin-top: 25px;
        &__e{
          display: flex;
          padding-left: 200px;
          &__e1{
            width: 70px;
            font-size: 16px;
          }
          &__e2{
            height: 20px;
            width: 30px;
            font-size: 14px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__f{
          font-size: 25px;
          padding-left: 200px;
        }
      }

      .address{
        margin-top: 25px;
        &__g{
          display: flex;
          padding-left: 200px;
          &__g1{
            width: 70px;
            font-size: 16px;
          }
          &__g2{
            height: 20px;
            width: 30px;
            font-size: 14px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__h{
          font-size: 25px;
          padding-left: 200px;
        }
      }

      .building{
        margin-top: 25px;
        &__i{
          display: flex;
          padding-left: 200px;
          &__i1{
            width: 70px;
            font-size: 16px;
          }
          &__i2{
            height: 20px;
            width: 30px;
            font-size: 14px;
            color: white;
            background-color: #ea352d;
          }
        }
        &__j{
          font-size: 25px;
          padding-left: 200px;
        }
      }

      .register{
        margin-top: 25px;
        margin-left: 200px;
      }

      .personal-information-registration{
        font-size: 13px;
        color: #0099FF;
        padding-left: 500px;
        margin-top: 25px;
      }
    }
  }

  .footer2{
    height: 200px;
    width: 100vw;
    margin-top: 25px;
    .title{
      justify-content: center;
      display: flex;
      font-size: 15px;
      margin-top: 25px;
      &__a{
        padding-left: 15px;
      }
      &__b{
        padding-left: 15px;
      }
      &__c{
        padding-left: 15px;
      }
    }
    .item{
      margin-top: 25px;
      padding-left: 325px;
    }
    .logo{
      font-size: 10px;
      margin-top: 5px;
      padding-left: 400px;
    }
  }
}